@model ClienteViewModel
@{
    ViewData["Title"] = "Home Page";
}


<div class="container-fluid">
    <form asp-action="Cliente" method="post">
        <input type="hidden" asp-for="@Model.IdCliente" />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="row">
            <div class="col-sm-2">
                <div class="form-group">
                    <label asp-for="@Model.IdCliente" class="control-label"></label>
                    <input asp-for="@Model.IdCliente" class="form-control" />
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label asp-for="@Model.NomeCliente" class="control-label"></label>
                    <input asp-for="@Model.NomeCliente" class="form-control" />
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label asp-for="@Model.RG" class="control-label"></label>
                    <input asp-for="@Model.RG" class="form-control" />
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label asp-for="@Model.CPF" class="control-label"></label>
                    <input asp-for="@Model.CPF" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label asp-for="@Model.Endereco" class="control-label"></label>
                    <input asp-for="@Model.Endereco" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label asp-for="@Model.Produto" class="control-label"></label>
                    <input asp-for="@Model.Produto" class="form-control" />
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label asp-for="@Model.PrecoVenda" class="control-label"></label>
                    <input asp-for="@Model.PrecoVenda" class="form-control" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-4">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <button type="submit" class="btn btn-warning">Salvar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>